.App {
  height: 100%;
  /* padding: 0; */
  display: flex;
  gap: var(--initial-gap);
}
.Sidebar {
  height: 100%;
  width: 276px;
  background: var(--first-cell-bg);
  display: flex;
  flex-direction: column;
  gap: calc(var(--initial-gap) / 2);
  .logo {
    padding: var(--initial-gap);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
  }
  .menu {
    padding: var(--initial-gap);
    display: flex;
    flex-direction: column;
    gap: var(--initial-gap);
    li {
      padding: inherit;
      cursor: pointer;
      display: flex;
      gap: calc(var(--initial-gap) / 2);
    }
    .selected {
      font-weight: 600;
      background: var(--second-cell-bg);
    }
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--initial-gap);
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: var(--first-cell-bg);
  font-size: 28px;
  font-weight: 900;
  div:has(> button) {
    display: flex;
    align-items: center;
    gap: var(--initial-gap);
    font-weight: 400;
    span {
      font-size: 16px;
      color: var(--text-unfocused-color);
    }
    .refresh {
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 50%;
      background: var(--second-cell-bg);
      color: var(--text-focused-color);
      cursor: pointer;
      font-size: 14px;
      padding: 0 0px 2px 2px;
      box-shadow: 0 2px 6px -2px rgba(255, 255, 255, 0.15);
    }
  }
}

.Dashboard {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - calc(var(--initial-gap) * 3) - 70px);
  display: flex;
  gap: var(--initial-gap);
  > * {
    background: var(--first-cell-bg);
    display: flex;
    flex-direction: column;
    gap: var(--initial-gap);
  }
  .due {
    width: 360px;
    > div {
      height: 100%;
      background: var(--second-cell-bg);
      display: flex;
      flex-direction: column;
      gap: var(--initial-gap);
      .badge {
        display: inline-flex;
        gap: calc(var(--initial-gap) / 2);
        border-radius: 999px;
        background: var(--third-cell-bg);
        padding: 6px 11px 6px 6px;
        font-size: 14px;
        align-items: center;
        box-shadow: 0 2px 6px -2px rgba(255, 255, 255, 0.05);
        .dday {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          border-radius: 50%;
          padding: 5px;
          background: var(--selection-color);
          aspect-ratio: 1/1;
        }
      }
    }
  }
  .table_wrap {
    flex: 1;
    > div:not(.indicator) {
      background: var(--second-cell-bg);
    }
    > .indicator {
      padding: 0;
      display: flex;
      gap: inherit;
      height: 260px;
      > div {
        flex: 1;
        background: var(--second-cell-bg);
        display: flex;
        flex-direction: column;
        gap: var(--initial-gap);
        align-items: center;
        justify-content: space-between;
        .text {
          b {
            font-size: 120px;
            font-weight: 900;
            letter-spacing: -0.04em;
          }
        }
      }
      > div:nth-child(1) {
        b {
          color: #ff6384;
        }
      }
      > div:nth-child(2) {
        b {
          color: #4bc0c0;
        }
      }
      > div:nth-child(3) {
        b {
          color: #36a2eb;
        }
      }
    }
    .table {
      > div {
        /* padding: 0; */
      }
      table {
        width: 100%;
        background: var(--third-cell-bg);
        thead {
          border-top-right-radius: calc(var(--initial-gap) / 2);
          border-top-left-radius: calc(var(--initial-gap) / 2);
          tr {
            background: var(--fourth-cell-bg);
            border-bottom: 1px solid var(--text-unfocused-color);
          }
        }
        tbody {
          tr {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
          }
          tr:first-child {
            border-top: none;
          }
        }
        tr {
          width: 100%;
          height: 50px;
          text-align: center;
          th {
            font-size: 14px;
            vertical-align: middle;
          }
          td {
            font-size: 16px;
            vertical-align: middle;
          }
          td:nth-child(1) {
            > span {
              display: inline-block;
              width: 16px;
              aspect-ratio: 1/1;
              border-radius: 50%;
              background: #4bc0c0;
            }
            .danger {
              background: #ff6384;
            }
          }
        }
        tr.selected {
          background: var(--selection-color);
        }
      }
      table:has(thead) {
        border-top-right-radius: calc(var(--initial-gap) / 4);
        border-top-left-radius: calc(var(--initial-gap) / 4);
        overflow: hidden;
      }
      .table_body {
        overflow-y: scroll;
        height: calc(100vh - calc(var(--initial-gap) * 7) - 260px - 120px);
        max-height: calc(100vh - calc(var(--initial-gap) * 7) - 260px - 120px);
        border-bottom-right-radius: calc(var(--initial-gap) / 4);
        border-bottom-left-radius: calc(var(--initial-gap) / 4);
        /* padding: 0; */
      }
      .table_body::-webkit-scrollbar {
        width: 4px;
        background: rgba(0, 0, 0, 0.25);
      }
      .table_body::-webkit-scrollbar-thumb {
        background: var(--selection-color);
        border-radius: 2px;
      }
    }
  }
}
