.App {
  height: 100%;
  /* padding: 0; */
  display: flex;
  gap: var(--initial-gap);
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--initial-gap);
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: var(--first-cell-bg);
  font-size: 28px;
  font-weight: 900;
  div:has(> button) {
    display: flex;
    align-items: center;
    gap: var(--initial-gap);
    font-weight: 400;
    span {
      font-size: 16px;
      color: var(--text-unfocused-color);
    }
    .refresh {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--second-cell-bg);
      color: var(--text-focused-color);
      cursor: pointer;
      font-size: 14px;
      padding: 0 0px 2px 2px;
    }
  }
}
