.Dashboard {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - calc(var(--initial-gap) * 3) - 70px);
  display: flex;
  gap: var(--initial-gap);
  > * {
    background: var(--first-cell-bg);
    display: flex;
    flex-direction: column;
    gap: var(--initial-gap);
  }
  .due {
    width: 360px;
    > div {
      height: 100%;
      background: var(--second-cell-bg);
      display: flex;
      flex-direction: column;
      gap: var(--initial-gap);
      .badge {
        display: inline-flex;
        gap: calc(var(--initial-gap) / 2);
        border-radius: 999px;
        background: var(--third-cell-bg);
        padding: 6px 13px 6px 6px;
        font-size: 16px;
        align-items: center;
        /* box-shadow: 0 2px 6px -2px var(--w15); */
        .dday {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          border-radius: 50%;
          padding: 5px;
          background: var(--color-p3);
          aspect-ratio: 1/1;
          color: var(--static-w100);
        }
      }
    }
  }
  .table_wrap {
    flex: 1;
    > div:not(.indicator) {
      background: var(--second-cell-bg);
    }
    > .indicator {
      padding: 0;
      display: flex;
      gap: inherit;
      height: 220px;
      > div {
        flex: 1;
        background: var(--second-cell-bg);
        display: flex;
        flex-direction: column;
        gap: var(--initial-gap);
        align-items: center;
        justify-content: space-between;
        .text {
          b {
            font-size: 120px;
            font-weight: 900;
            letter-spacing: -0.04em;
          }
        }
      }
      > div:nth-child(1) {
        b {
          color: var(--color-p1);
        }
      }
      > div:nth-child(2) {
        b {
          color: var(--color-p2);
        }
      }
      > div:nth-child(3) {
        b {
          color: var(--color-p3);
        }
      }
    }
    .table {
      > div {
        /* padding: 0; */
      }
      table {
        width: 100%;
        background: var(--third-cell-bg);
        thead {
          border-top-right-radius: calc(var(--initial-gap) / 2);
          border-top-left-radius: calc(var(--initial-gap) / 2);
          tr {
            background: var(--fourth-cell-bg);
            border-bottom: 1px solid var(--text-unfocused-color);
          }
        }
        tbody {
          tr {
            border-top: 1px solid var(--w15);
          }
          tr:first-child {
            border-top: none;
          }
          tr:hover {
            background: var(--hover-color);
          }
        }
        tr {
          width: 100%;
          height: 50px;
          text-align: center;
          th {
            font-size: 14px;
            vertical-align: middle;
          }
          td {
            font-size: 16px;
            vertical-align: middle;
          }
          td:nth-child(1) {
            > span {
              display: inline-block;
              width: 16px;
              aspect-ratio: 1/1;
              border-radius: 50%;
              background: var(--color-p2);
            }
            .danger {
              background: var(--color-p1);
            }
          }
        }
        tr.selected {
          background: var(--selection-color);
        }
      }
      table:has(thead) {
        border-top-right-radius: calc(var(--initial-gap) / 4);
        border-top-left-radius: calc(var(--initial-gap) / 4);
        overflow: hidden;
      }
      .table_body {
        overflow-y: scroll;
        /* height: calc(100vh - calc(var(--initial-gap) * 8) - 220px - 120px); */
        max-height: calc(100vh - calc(var(--initial-gap) * 8) - 220px - 120px);
        border-bottom-right-radius: calc(var(--initial-gap) / 4);
        border-bottom-left-radius: calc(var(--initial-gap) / 4);
      }
      .table_body::-webkit-scrollbar {
        width: 4px;
        background: var(--static-k25);
      }
      .table_body::-webkit-scrollbar-thumb {
        background: var(--selection-color);
        border-radius: 2px;
      }
    }
  }
}
