@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
::selection {
  background: var(--selection-color);
}
:root {
  --initial-gap: 20px;
  --background: #5d6d82;
  --first-cell-bg: rgba(0, 0, 0, 0.35);
  --second-cell-bg: rgba(0, 0, 0, 0.15);
  --third-cell-bg: rgba(0, 0, 0, 0.15);
  --fourth-cell-bg: rgba(0, 0, 0, 0.15);
  --text-focused-color: rgba(255, 255, 255, 1);
  --text-unfocused-color: rgba(255, 255, 255, 0.85);
  --selection-color: rgba(32, 91, 139, 0.65);
}
:root[color-theme="light"] {
  --background: #adbdd2;
  --first-cell-bg: rgba(255, 255, 255, 0.65);
  --second-cell-bg: rgba(255, 255, 255, 0.65);
  --third-cell-bg: rgba(255, 255, 255, 0.5);
  --fourth-cell-bg: rgba(255, 255, 255, 0.65);
  --text-focused-color: rgba(0, 0, 0, 1);
  --text-unfocused-color: rgba(0, 0, 0, 0.65);
}
* {
  box-sizing: border-box;
}
.box20 {
  padding: var(--initial-gap);
}
.r20 {
  border-radius: var(--initial-gap);
}
.box10 {
  padding: calc(var(--initial-gap) / 2);
}
.r10 {
  border-radius: calc(var(--initial-gap) / 2);
}
.box5 {
  padding: calc(var(--initial-gap) / 4);
}
.r5 {
  border-radius: calc(var(--initial-gap) / 4);
}

div.text {
  padding: 0;
}
#root {
  height: 100svh;
  background: var(--background);
}

body {
  margin: 0;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-focused-color);
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
