.Sidebar {
  height: 100%;
  width: 276px;
  background: var(--first-cell-bg);
  display: flex;
  flex-direction: column;
  gap: calc(var(--initial-gap) / 2);
  .logo {
    padding: var(--initial-gap);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--initial-gap);
    li {
      width: 100%;
      cursor: pointer;
      display: flex;
      gap: calc(var(--initial-gap) / 2);
      transition: 250ms all ease-out;
      a {
        width: 100%;
      }
    }
    li:hover {
      background: var(--fourth-cell-bg);
    }
    .selected {
      font-weight: 600;
      background: var(--second-cell-bg);
    }
  }
}

@media all and (max-width: 1440px) {
  .Sidebar {
    position: fixed;
    top: var(--initial-gap);
    left: var(--initial-gap);
    max-height: calc(100svh - calc(var(--initial-gap) * 2));
    background: var(--k65);
    backdrop-filter: blur(8px);
  }
}
